.slide {
    margin-top: 25px;
    height: 400px;
    background-size: cover;
    border-radius: 15px;
}

.slide > h1 {
    color:  #fbf28d;
    margin-top: 150px;
    background: none;
    text-align: center;
}

.slide > p {
    color:   #fbf28d;
    background: none;
    text-align: center;
    font-weight: 100;
}

.main-carousel {
    background-color: rgba(248, 231, 28, 0.5);
}



.first {
background-image: url(../../Images/carousel.webp);
background-position: 1px;
}

.second {
    background-image: url(../../Images/carouselgif.webp);
    background-position: 1px;
}