.line {
    border: 1px solid rgba(0, 0, 0, .5);
}

.footer {
display: flex;
}

.footer-logo {
    height: 40px;
}

.footer-text {
    font-size: 14px;
    display: inline;
    margin-left: -5px;
    

}

.right-footer > h4 {
    margin-bottom: 25px;
}

.links {
    line-height: 10px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    display: block;
}

.eco {
    margin-top: -20px;
    height: 55px;
}